<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{'POPULARITY' | translate }}: {{card.popularity}}</ion-card-subtitle>
    <ion-card-title>{{card.original_title}}</ion-card-title>
    <ion-card-subtitle>{{'RELEASE_DATE' | translate }}: {{card.release_date}}</ion-card-subtitle>
  </ion-card-header>
  <ion-item>
      <img src="{{poster}}">
  </ion-item>
  <ion-card-content>
    {{card.overview}}
  </ion-card-content>
  <ion-card-header>
    <ion-card-subtitle>{{'VOTE_COUNT' | translate }}: {{card.vote_count}}</ion-card-subtitle>
    <ion-card-subtitle>{{'ORIGINAL_LANGUAGE' | translate }}: {{card.original_language}}</ion-card-subtitle>
    <ion-card-subtitle>{{'VOTE_AVERAGE' | translate }}: {{card.vote_average}}</ion-card-subtitle>
    <ion-card-subtitle>{{'ORIGINAL_TITLE' | translate }}: {{card.original_title}}</ion-card-subtitle>
    <ion-card-subtitle>{{'RELEASE_DATE' | translate }}: {{card.release_date}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>
