<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Popularty: {{card.popularity}}</ion-card-subtitle>
    <ion-card-title>{{card.original_title}}</ion-card-title>
    <ion-card-subtitle>Release Date: {{card.release_date}}</ion-card-subtitle>
  </ion-card-header>
  <ion-item>
      <img src="{{poster}}">
  </ion-item>
  <ion-card-content>
    {{card.overview}}
  </ion-card-content>
  <ion-card-header>
    <ion-card-subtitle>Vote Count: {{card.vote_count}}</ion-card-subtitle>
    <ion-card-subtitle>Original Language: {{card.original_language}}</ion-card-subtitle>
    <ion-card-subtitle>Vote Average: {{card.vote_average}}</ion-card-subtitle>
    <ion-card-title>{{card.original_title}}</ion-card-title>
    <ion-card-subtitle>Release Date: {{card.release_date}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>
