<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'LOGIN' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'LOGIN' | translate }}</ion-title>
     
    </ion-toolbar>
  </ion-header>


 

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'TITLE' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
        <ion-img src="https://cdn1.thr.com/sites/default/files/imagecache/landscape_928x523/2012/11/movie_theater_interior_a_l.jpg"></ion-img>
    
      <form #loginForm="ngForm" novalidate>
          <ion-list no-lines>
            <ion-item>
                <ion-label stacked color="primary">Username:</ion-label>
                <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off" required>
                </ion-input>
            </ion-item>
            <p [hidden]="username.valid || submitted == false" color="danger" padding-left>
                Username is required
            </p>

            <ion-item>
                <ion-label stacked color="primary">Password:</ion-label>
                <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
                </ion-input>
            </ion-item>
            <p [hidden]="password.valid || submitted == false" color="danger" padding-left>
                Password is required
            </p>
        </ion-list>
        <ion-button (click)="loginUser()">
          {{'ENTER' | translate }}
        </ion-button>
      </form>

    </ion-card-content>
  </ion-card>
  <ion-label *ngIf='language'>{{'SPANISH' | translate}}</ion-label>
  <ion-label *ngIf='!language'>{{'ENGLISH' | translate}}</ion-label>
  <ion-toggle [(ngModel)]="language" [ionChange]="changeLang()"></ion-toggle>

  
</ion-content>
